:root{
  --color-bg: #272527;
  --color-navlink: white;
  --color-active: #4f93e8;
}

*{
  box-sizing: border-box;
  margin: 0;
}

h1{
  text-align: center;
  margin-bottom: 1.5rem;
}

header{
  background-color: var(--color-bg);
  height: 70px;
  text-align: center;
  padding-top: 25px;
}
header a{
  margin-right: 10px;
  color: var(--color-navlink);
  text-decoration: none;
}

header a:hover{
  text-decoration: underline;
}
.container{
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main{
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}

main a:hover{
  text-decoration: underline;
}

.active{
  cursor: default;
  color: var(--color-active);
}